.modal {
    &-title {
        font-size: 1.6rem;
    }

    & p {
        font-size: 1.4rem;
    }

    & .errored-fields{
        padding-left: 2rem;

        & .error-field {
            text-transform: capitalize;
        }
    }
}
